@import 'https://fonts.googleapis.com/css?family=Crete+Round::300,400,700|Poppins::300,400,700|Oswald:300,400,700';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/*--------------NAV ------------------*/
.mainnav{
  width: 100%;
  display: flex;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;


}

.mainnav ul{
width: 100%;
display: flex;
list-style: none;
flex-flow: column nowrap;
text-align: right;
margin-top: 5rem;
}


/*--------------NAV TOGGLE------------------*/
.nav-toggle {
  display: none;
  box-sizing: border-box;
  height: 16px;
  position: absolute;
  top: 20px;
  right:25px;
}

.nav-toggle:hover {
  background: transparent;
}

.nav-toggle:before, .nav-toggle:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.nav-toggle:before {
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.nav-toggle:after {
  top: 12px;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
}

.nav-toggle.active:before {
  border: 0;
  top: 12px;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
}
.nav-toggle.active:after {
  transform: rotate(-45deg);
}






/*====================================================================================================================================================*/

@media screen and (min-width: 320px){
  .logo img{
    width: 9rem;
  }
 .mainnav a.logo{
   width: 50%;
 }


/*//////NAV/////////////////////////////////////////*/

  .mainnav a{
    width: 100%;
    color: white;
    padding: 0.5rem;
  }

  .mainnav li a:hover,  .mainnav li a.active {
    border-top:1.5px solid rgba(255, 255, 255, 0.7);
    border-bottom:1.5px solid rgba(255, 255, 255, 0.7);
    }



  .mainnav li{
  margin: 1rem 0 1.5rem 0;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 0.6rem;

}


/*navtoggle---------------------*/
.mainnav ul {
 display: none;
 }
 a.nav-toggle {
    display: block;
    width: 2rem;
  }







/*VIDEO*/
.hero video{
  background: transparent;
  z-index: -1;
  width: 100%;
  height:auto;
  display: block;

  }

/*Image*/

img{
display: block;
width: 100%;
}



/*MAIN*/

section{
  display: flex;
  flex-flow: row wrap;
  padding:1rem;
}

section h1{
  font-size: 2rem;
  align-self: center;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  pins', sans-serif;
  color:#1F2124;
}

p{
font-family:'Crete Round', serif;
padding:0.5rem 0;
font-size: 0.7rem;
color:#1F2124;
}

/*-------------------ABOUT----------------*/
.cat1{
    background-image: url(../images/bg1-copy.png);
      padding:15% 15%;
  width:100%;
  background-size: cover;
  font-family:'Crete Round', serif;
  color: white;
  text-align: center;
}


.cat1 h2{
   font-size: 1.25rem;
   margin-bottom: 1.5rem;
 }
.cat1 a{
    color: white;
    background: tomato;
    border-radius: 10px;
    padding:7px;
    font-size: 0.75rem;

  }
  .cat1 a:hover{
    background: rgba(255,99,71,0.5);
  }



/*-------------------Product----------------*/


  .cat2{
    background-image: url(../images/bg2.png);
    padding:15% 15%;
    width:100%;
    background-size: cover;
    font-family:'Crete Round', serif;
    color: white;
    text-align: center;
  }


  .cat2 h2{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
   }
  .cat2 a{
      color: white;
      background: tomato;
      border-radius: 10px;
      padding:7px;
      font-size: 0.75rem;
    }
    .cat2 a:hover{
      background: rgba(255,99,71,0.5);
    }



/*-----------------shop---------------*/


.shop{
border-top: 2px solid black;
border-bottom: 2px solid black;
margin: 1rem;
}
.shop img{
    width: 93%;

}
.shop ul{
  list-style: none;
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
margin: 1rem 0;
}

.shop li :hover{
  border-radius:  15px;
}

/*/////////////////FOOTER/////////////////////*/

footer{
  padding:0.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  background: #1F2124;
  color:white;

}

footer h3{
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 3rem;
}

footer h4{
  font-family:'Crete Round', serif;
  line-height: 1.5rem;
  font-size: 14px;
  letter-spacing: 1px;
}


form{
padding-bottom: 1rem;
}
.newsletter-input{
  width: 13rem;
  height: 2rem;
  border-radius: 10px;
  border-bottom:  border: 3px solid white;
  background: transparent;


}
.newsletter a{
  font-family:'Crete Round', serif;
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  text-align: center;
}

.newsletter a:hover{
  border: none;
  color:  rgba(245,165,8,0.8);


}


.location{
  margin:1.5rem 0 0.5rem;
}


.social-icon{
  border-top:1px solid rgba(255, 255, 255, 0.5);
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem;
}
.social-icon a{
  font-size:1.5rem;
  color: rgba(245,165,8,0.8);
  line-height: 2rem;
  padding: 0.5rem ;
}

.social-icon a:hover{
  color:rgba(255, 255, 255, 0.5);
}



.copyright{
  font-size: 0.5rem;
  letter-spacing: 2px;
  text-align: right;
  background: #1F2124;
  padding:0.25rem 0;
  padding-right:1rem;
  color:rgba(255, 255, 255, 0.25);

}







}

/*////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 650px) {


.mainnav{
  flex-flow: row nowrap;
}

.mainnav a.logo{
  width: 65%;
}

.mainnav ul{
display: flex;
width: 50%;
flex-flow: row nowrap;
align-self: flex-end;
margin: 0;
}


.mainnav li{
justify-content: space-around;
align-items: flex-end;
padding: 0 0 4px 0;
width: 100%;

}

a.nav-toggle{
  display: none;
}






/*//////////////////CONTENT////////////////////////////////*/

p{
font-size: 1rem;}
/*-------------------ABOUT----------------*/
.cat1 h2{
   font-size: 1.5rem;
 }

 .cat1 a{
     font-size: 1rem;

   }

/*-------------------Product----------------*/
.cat2 h2{
   font-size: 1.5rem;
 }
 .cat1 a{
     font-size: 1rem;
   }
/*/////////////////FOOTER/////////////////////*/

footer{
  flex-flow: row wrap;

}

.newsletter{
  width: 45%;

}

.location{
  margin:0;
  padding: 0;
  width: 25%;
}


.social-icon{
  width: 30%;
  margin: 3rem 0;
  border: none;


}






}



@media screen and (min-width: 900px) {

.mainnav ul{
width: 40%;
flex-flow: row nowrap;
align-self: flex-end;
margin: 0;
}


.mainnav li{
justify-content: space-around;
align-items: flex-end;
padding: 0;
width: 100%;

}
/*--------------------MAin---------------------*/
.hero img {
width: 100%;
height:auto;
}



section{
  justify-content: space-around;
}
section h1{
  font-size: 4rem;
  width: 25%;
}

p{font-size: 1.125rem;
width: 60%;
align-self: center;}
/*-------------------about---------------------*/

.cat1 h2{
   font-size: 2.5rem;
 }

  .cat1 a{
      font-size: 1.5rem;
    }

/*-------------------Product----------------*/
.cat2 h2{
   font-size: 2.5rem;
 }
 .cat2 a{
     font-size: 1.5rem;
   }
/*-------------------shop----------------*/


}
