@import 'https://fonts.googleapis.com/css?family=Crete+Round|Poppins|Oswald:300,400,700';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.mainnav{
  width: 100%;
  display: flex;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;

}





/*end navtoggle*/


@media screen and (min-width: 320px) {
  .logo img{
    width: 9rem;
  }
  .mainnav a{
    width: 100%;
    text-decoration:none;
    color: white;
    padding: 0.5rem;
  }
  .mainnav li a:hover{
    border:2px solid rgba(255, 255, 255, 0.9);
    }
  .mainnav{
    flex-flow: column nowrap;


    }
  .mainnav ul{
  width: 100%;
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  text-align: center;
  }
  .mainnav li{
  margin: 1rem 0 1.5rem 0;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 0.6rem;

}


/*END NAV*/
.hero img {
width: 100%;
height:278px;
}







/*MAIN*/
main{
  margin: 1.5rem 1rem;
}
p{
font-family:'Crete Round', serif;

}
h1{
font-family: 'Oswald', sans-serif;
pins', sans-serif;
font-size: 2rem;
}


}



@media screen and (min-width: 700px) {



.mainnav{
  flex-flow: row nowrap;
  position: fixed;
}

.mainnav a{
  width: 60%;
}

.mainnav ul{
width: 50%;
flex-flow: row nowrap;
align-self: flex-end;
margin: 0;
}


.mainnav li{
justify-content: space-around;
align-items: flex-end;
padding: 0 0 4px 0;
width: 100%;

}

.hero img {
width: 100%;
height:auto;
}
}



@media screen and (min-width: 900px) {


.mainnav{
  flex-flow: row nowrap;
}

.mainnav a{
  width: 60%;


}

.mainnav ul{
width: 40%;
flex-flow: row nowrap;
align-self: flex-end;
margin: 0;
}


.mainnav li{
justify-content: space-around;
align-items: flex-end;
padding: 0;
width: 100%;

}

.hero img {
width: 100%;
height:auto;
}
}
